@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  margin: 0;
  padding: 0.75rem;
}
button {
  color: #000000;
}

/*************
    HEADER
*************/

.header-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  width: 100%;
}

.header-button,
.main-button {
  position: relative;
  font-weight: 700;
  top: -6px;
  left: 6px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: -6px 6px 0 0 #000000;
  padding: 12px 20px 14px 20px;
}

.header-button {
  font-size: 3rem;
  margin: 0;
}

.header-button:hover,
.main-button:hover {
  background: #000000;
  color: #ffffff;
}

.main-button {
  position: unset;
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 600;
  z-index: 0;
}

.landing-container {
  width: 100%;
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*************
    UTILITY
*************/

.list-container {
  padding: 1rem;
}

.centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************
    HOME
*************/

#project-home-container,
.hello-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}

#project-home-container {
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(224, 224, 224, 1) 100%
  );
  padding-bottom: 10rem;
}

.home-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 230, 230);
  border-radius: 10px 10px 0 0;
  min-height: 50vh;
  margin: 0 1rem;
}

.home-heading {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.home-title {
  font-size: 2rem;
}

.line {
  width: 50%;
  height: 2px;
  background: #000000;
  margin-bottom: 3rem;
}

/******************************
    HOME - DESCRIPTION CARDS
*******************************/

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(224, 224, 224, 1) 100%
  );
}

.description-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.description-icon {
  padding: 1rem 0;
  font-size: 3rem;
}

.description-card {
  background: #e0e0e0;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 6px -6px 0 0 #000000;
  padding: 6px 20px 14px 20px;
  margin: 1rem 0;
  max-width: 20rem;
}

.description-card:hover {
  background: #000000;
}

.descriptions {
  padding: 1rem;
  font-weight: 400;
}

.color-red:hover {
  background: #ecb6b6;
}

.color-blue:hover {
  background: #b6d8ec;
}

.color-green:hover {
  background: #b6ecb6;
}

/************************
    HOME - PROJECT CARDS
*************************/

#project {
}

#project-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-card {
  position: relative;
  max-width: 100%;
  max-height: 250px;
  margin: 0.5rem 0;
}

.project-caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.view-button {
  width: 100%;
  background: #ffffff;
  font-size: 1.25rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-button:hover {
  background: #000000;
  color: #ffffff;
}

.view-button h3 {
  font-weight: 500;
  padding: 1rem;
}

.project-caption-enter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  opacity: 0;
}

.project-caption-enter-done {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  opacity: 0.95;
  transition: opacity 200ms;
}
.project-caption-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  opacity: 1;
}

.project-caption-exit-active {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  opacity: 0;
  transition: opacity 300ms;
}

.project-card-image {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

/*************
    CONTACT
*************/

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  line-height: 2rem;
  background: #202020;
  color: #ffffff;
}

.social-buttons a {
  color: #ffffff;
}

.line-contact {
  width: 50%;
  height: 2px;
  background: #ffffff;
  margin-bottom: 3rem;
}

/**************
    PORTFOLIO
***************/

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  line-height: 2rem;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title h2 {
  font-size: 2rem;
}

.project-line {
  width: 150%;
  height: 2px;
  background: black;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.project-content-title {
  margin: 2rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.image-container {
  width: 100%;
}

.project-content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
  text-align: left;
}

.project-content-container span {
  font-size: 1rem;
}

.project-button {
  position: relative;
  font-weight: 700;
  top: -6px;
  left: 6px;
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: -6px 6px 0 0 #000000;
  padding: 12px 20px 14px 20px;
  margin: 1rem;
  text-align: center;
}

.project-button:hover {
  background: #000000;
  color: #ffffff;
}

.project-content-para {
  margin: 1rem 0;
}

/************
    ABOUT
*************/

.about {
  margin: 3rem 2rem;
  max-width: 1000px;
  text-align: left;
}

/*************
MEDIA QUERY
*************/

@media screen and (min-width: 800px) {
  /*************
    HEADER
*************/

  .landing {
    max-width: 500px;
  }

  /*************
    HOME
*************/

  .hello-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
  }

  #project-home-container,
  .hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2rem;
  }

  .home-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(230, 230, 230);
    border-radius: 10px 10px 0 0;
    min-height: 50vh;
    margin: 0 1rem;
  }

  .about {
    margin: 3rem 0;
    max-width: 100%;
    width: 100%;
  }

  .home-heading {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .home-title {
    font-size: 2rem;
  }

  .line {
    width: 200px;
    height: 2px;
    background: black;
    margin-bottom: 3rem;
  }

  /******************************
    HOME - DESCRIPTION CARDS
*******************************/

  .description-container {
    height: 100vh;
  }

  .description-cards {
    display: flex;
    flex-direction: row;
  }

  .description-card {
    background: #e0e0e0;
    border: 2px solid #000000;
    border-radius: 6px;
    box-shadow: 6px -6px 0 0 #000000;
    padding: 6px 20px 14px 20px;
    margin: 1rem 1rem;
    min-width: 15rem;
    max-width: 20rem;
    max-height: 20rem;
  }

  /************************
    HOME - PROJECT CARDS
*************************/

  .view-button {
    width: 100%;
    background: #ffffff;
    font-size: 1.25rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .view-button h3 {
    font-weight: 500;
    padding: 1rem;
  }

  .project-caption-enter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    opacity: 0;
  }

  .project-caption-enter-done {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    opacity: 0.95;
    transition: opacity 200ms;
  }
  .project-caption-exit {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    opacity: 1;
  }

  .project-caption-exit-active {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0e0e0;
    opacity: 0;
    transition: opacity 300ms;
  }

  .project-card-image {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }

  /*************
    CONTACT
*************/

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    line-height: 2rem;
    background: #202020;
    color: #ffffff;
  }

  .social-buttons a {
    color: #ffffff;
  }

  .line-contact {
    width: 50%;
    height: 2px;
    background: #ffffff;
    margin-bottom: 3rem;
  }

  /**************
    PORTFOLIO
***************/

  .portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    line-height: 2rem;
  }

  .portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-title h2 {
    font-size: 2rem;
  }

  .project-line {
    width: 200px;
    height: 2px;
    background: black;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .project-content-title {
    margin: 2rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: 500;
  }

  .image-container {
    width: 100%;
  }

  .project-content-container {
    max-width: 1000px;
  }

  .project-content-container span {
    font-size: 1rem;
  }

  .project-button {
    position: relative;
    font-weight: 700;
    top: -6px;
    left: 6px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 6px;
    box-shadow: -6px 6px 0 0 #000000;
    padding: 12px 20px 14px 20px;
    margin: 1rem;
    text-align: center;
  }
  .project-content-para {
    margin: 1rem 0;
  }

  /************
    SKILLS
*************/

  .about-skills {
    padding: 2rem 0;
  }

  .about-heading {
    padding-top: 4rem;
  }

  .about-bold {
    font-weight: 600;
  }
}
