@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

/*************
    HEADER
*************/

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 3rem;
}

.header-button {
  font-size: 2rem;
}

.active-menu {
  text-decoration: none;
  list-style-type: none;
  padding: 1.5rem 0;
  margin: 0;
  position: fixed;
  top: 0%;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15%;
  background: #ffffff;
  transition: height 2s;
}

.hamburger-menu {
  position: fixed;
  background: #ffffff;
  border: none;
  padding: 6px;
  top: 2.5rem;
  left: 1.5rem;
  font-size: 2rem;
  z-index: 20;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  z-index: 100;
}

/*************


    UTILITY
*************/

.header-button,
.main-button {
  position: relative;
  font-weight: 700;
  top: -6px;
  left: 6px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: -6px 6px 0 0 #000000;
  padding: 12px 20px 14px 20px;
}

.list-container {
  padding: 1rem;
}

.hidden {
  display: none;
}
