body {
  box-sizing: border-box;
  font-size: 16px;
}

.main-button {
  position: relative;
  font-weight: 700;
  top: -6px;
  left: 6px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: -6px 6px 0 0 #000000;
  padding: 12px 20px 14px 20px;
}
